* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
.box_header {
  display: flex;
  justify-content: center;
  background-color: violet;
  position: fixed;
  z-index: 500;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
}
.top {
  background-color: violet;
  height: 50px;
}

.logo {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}
.img_logo {
  height: 30px;
}

.link_interni {
  display: flex;
  flex-basis: 25%;
  align-items: center;
}
.categorie {
  justify-content: left;
}
.icone {
  justify-content: right;
}

li {
  display: inline-block;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
/* header */

/* main */
main {
  background-color: white;
}
/* row1 */
.box_row {
  min-height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 150px 0;
  flex-wrap: wrap;
}
.row {
  background-color: white;
  min-height: 400px;
}

.col {
  width: calc((100% / 3) - 10px);
  position: relative;
  background-color: white;
  margin: 0 5px 90px;
}
.img_prod img {
  width: 100%;
}
.img_prod {
  position: relative;
}
.fa-heart {
  color: black;
  position: absolute;
  right: 0;
  top: 30px;
  height: 40px;
  width: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  position: absolute;
  color: white;
  background-color: red;
  padding: 2px;
  font-size: 18px;
}
.sconto {
  bottom: 100px;
  left: 0;
  background-color: red;
}

.sostenibilita {
  bottom: 100px;
  left: 70px;
  background-color: green;
}

.info {
  background-color: white;
}

.prezzo {
  display: flex;
  gap: 10px;
}
.scontato {
  text-decoration: line-through;
}

.originale {
  color: red;
}

.img_prod .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s;
}

.img_prod:hover .overlay {
  opacity: 1;
}
