* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
.box_header {
  display: flex;
  justify-content: center;
  background-color: violet;
  position: fixed;
  z-index: 500;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
}
.top {
  background-color: violet;
  height: 50px;
}

.logo {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}
.img_logo {
  height: 30px;
}

.link_interni {
  display: flex;
  flex-basis: 25%;
  align-items: center;
}
.categorie {
  justify-content: left;
}
.icone {
  justify-content: right;
}

li {
  display: inline-block;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
/* header */

/* main */
main {
  background-color: brown;
}
/* row1 */
.box_row {
  min-height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 150px 0;
}
.row {
  background-color: white;
  min-height: 600px;
}
